node_modules/
.next/
out/
build/
!android/
android/.gradle/
android/build/
android/app/build/
android/.idea/
src/
docs/
.idx/
.vscode/
.env
.env*.local
.modified
*.ts
*.json
!manifest.json
!capacitor.config.json
!package.json
!package-lock.json
*.mjs
*.tsbuildinfo
*.pem
.DS_Store
.turbo/
npm-debug.log*
push_instructions.txt
