node_modules/
.next/
out/
build/
android/
src/
docs/
.idx/
.vscode/
.env
.env*.local
.modified
*.ts
*.json
!manifest.json
*.mjs
*.tsbuildinfo
*.pem
.DS_Store
.turbo/
npm-debug.log*
push_instructions.txt
